{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Admin Dashboard
{% endblock %}


{% block content %}
{% include 'flashmessage.html'   %}
<div class="container" style="height: fit-content;">
    <h1>Admin Dashboard</h1>
    <div class="col-md-12">
        <div class="group-item">
            <div style="display: flex; justify-content:space-between; align-items:center;">
                <h4>Service Categories</h4>
                <a href="/service_category/add" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> Add Service Category</a>
            
            </div>
            <table class="table table-bordered table-hover">
                <thead class="table-success">
                    <tr class="table-success">
                        <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                        <th style="text-align: center; vertical-align:middle">Name</th>
                        <th style="text-align: center; vertical-align:middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                        <td style="text-align: center; vertical-align:middle"><b><a href="{{ url_for('main.service', s_category_id = category.sc_id) }}" style="text-decoration: none;color:black">{{ category.sc_name }}</b></td>
                        <td  style="text-align: center; vertical-align:middle">
                            <a href="/service_category/{{ category.sc_id }}/edit" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a href="/service_category/{{ category.sc_id }}/delete" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="group-item">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h4>Services</h4>
            <a href="/service/add" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> Add Service</a>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-success">
              <tr class="table-success">
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Name</th>
                <th style="text-align: center; vertical-align:middle">Description</th>
                <th style="text-align:center; vertical-align:middle">Rate(per hour)</th>
                <th style="text-align: center; vertical-align:middle">Time Required</th>
                <th style="text-align: center; vertical-align:middle">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                    <td style="text-align: center; vertical-align:middle"><b>{{ service.s_name }}</b></td>
                    <td style="text-align: center; vertical-align:middle">{{ service.s_description }}</td>
                    <td style="text-align: center; vertical-align:middle">&#8377 {{ service.s_rate }}</td>
                    <td style="text-align: center; vertical-align:middle">{{ service.s_time_required }}</td>
                    <td  style="text-align: center; vertical-align:middle">
                        <a href="/service/{{ service.s_id }}/edit" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a href="/service/{{ service.s_id }}/delete" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i>  Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            
        </div>
        <div class="group-item">   
        <h4>Professional</h4>
        <table class="table table-bordered table-hover">
            <thead class="table-success">
              <tr class="table-success">
                <th style="text-align: center; vertical-align:middle; width:1%">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle; width:3%">Name</th>
                <th style="text-align: center; vertical-align:middle; width:15%">Service</th>
                <th style="text-align: center; vertical-align:middle; width:1%">Verification Document</th>
                <th style="text-align: center; vertical-align:middle; width:1%">City</th>
                <th style="text-align: center; vertical-align:middle; width:1%">Approved</th>
                <th style="text-align: center; vertical-align:middle; width:1%">Blocked</th>
                <th style="text-align: center; vertical-align:middle; width:20%">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for service_provider in services_providers %}
                <tr>
                    <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                    <td style="text-align: center; vertical-align:middle"><b><a href="{{ url_for('main.view_service_provider', p_id = service_provider.p_id) }}" style="text-decoration:none; color:black">{{ service_provider.p_name }}</a></b></td>
                    <td style="text-align: center; vertical-align:middle">{{ service_provider.service.s_name }}</td>
                    <td style="text-align: center; vertical-align:middle"><a href="/static/verification/{{ service_provider.p_verification_document }}"  style="text-decoration: none;" target="_blank"><i class="bi bi-filetype-pdf"></i> View</a></td>
                    <td style="text-align: center; vertical-align:middle">{{ service_provider.p_city }}</td>
                    <td  style="text-align: center; vertical-align:middle">{{ service_provider.p_approved }}</td>
                    <td  style="text-align: center; vertical-align:middle">{{ service_provider.p_blocked }}</td> 
                    <td  style="text-align: center; vertical-align:middle">
                        <a href="{{ url_for('main.view_service_provider', p_id = service_provider.p_id) }}" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i> View</a>
                        {% if service_provider.p_approved == False %}
                            <a href="/service_provider/{{ service_provider.p_id }}/approve" class="btn btn-outline-success"><i class="bi bi-checklg"></i> Approve</a>
                            
                        {% endif %}
                        {% if service_provider.p_blocked == False %}
                            <a href="/service_provider/{{ service_provider.p_id }}/block" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                              </svg> Block</a>
                        {% else %}
                            <a href="/service_provider/{{ service_provider.p_id }}/unblock" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                              </svg> Unlock</a> 
                        {% endif %}
                        <a href="/service_provider/{{ service_provider.p_id }}/delete" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="group-item">   
            <h4>Customers</h4>
            <table class="table table-bordered table-hover">
                <thead class="table-success">
                  <tr class="table-success">
                    <th style="text-align: center; vertical-align:middle; width:1%">Sequence Number</th>
                    <th style="text-align: center; vertical-align:middle">Name</th>
                    <th style="text-align: center; vertical-align:middle">Email</th>
                    <th style="text-align: center; vertical-align:middle;">Address</th>
                    <th style="text-align: center; vertical-align:middle">City</th>
                    <th style="text-align: center; vertical-align:middle">Pincode</th>
                    <th style="text-align: center; vertical-align:middle">Blocked</th>
                    <th style="text-align: center; vertical-align:middle">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                        <td style="text-align: center; vertical-align:middle"><b>{{ customer.c_name }}</b></td>
                        <td style="text-align: center; vertical-align:middle"><a href="mailto:{{ customer.c_email }}" style="text-decoration: none; color:black">{{ customer.c_email }}</a></td>
                        <td style="text-align: center; vertical-align:middle">{{ customer.c_address }}</td>
                        <td style="text-align: center; vertical-align:middle">{{ customer.c_city }}</td>
                        <td style="text-align: center; vertical-align:middle">{{ customer.c_pincode }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ customer.c_blocked }}</td> 
                        <td  style="text-align: center; vertical-align:middle">
                            {% if customer.c_blocked == False %}
                                <a href="/customer/{{ customer.c_id }}/block" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                                  </svg> Block</a>
                            {% else %}
                                <a href="/customer/{{ customer.c_id }}/unblock" class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                                  </svg> Unblock</a> 
                            {% endif %}
                            <a href="url_for('main.delete_customer', c_id = customer.c_id)" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                            
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="group-item">
                <h4>Service Request Details</h4>
                <table class="table table-bordered table-hover">
                    <thead class="table-success">
                      <tr>
                            <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                            <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                            <th style="text-align: center; vertical-align:middle">Professional Name</th>
                            <th style="text-align: center; vertical-align:middle">Customer Name</th>
                            <th style="text-align: center; vertical-align:middle">Service Name</th>
                            <th style="text-align: center; vertical-align:middle">Service Request Date and Time</th>
                            <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                            <th style="text-align: center; vertical-align:middle">Service Status</th>
                            <th style="text-align: center; vertical-align:middle; width:10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = namespace(value=1) %}
                        {% for service_request in service_requests %}
                        <tr>
                            <td style="text-align: center; vertical-align:middle">{{ count.value }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_id }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_service_provider_name }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_customer_name }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_service_name }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_date_time }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_city }}, {{ service_request.sr_pincode }}</td>
                            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_status }}</td>
                            <td style="text-align: center; vertical-align:middle">
                                <a href="{{ url_for('main.service_request_details', sr_id = service_request.sr_id) }}" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i> View</a>
                            </td>
                            {% set count.value = count.value + 1 %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>  

</div>

{% endblock %}



