{% extends 'customer_layout.html' %}
{% block name %}
    Cart
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}
<div style="height:fit-content;">
    <div class="container" style="height: 550px;">
        {% if carts %}
        <h1>Cart</h1>
        <table class="table table-bordered table-hover">
            <thead class="table-success">
              <tr>
                    <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                    <th style="text-align: center; vertical-align:middle">Service Name</th>
                    <th style="text-align: center; vertical-align:middle">Service Professional Name</th>
                    <th style="text-align: center; vertical-align:middle">Service Rate</th>
                    <th style="text-align: center; vertical-align:middle">Service Time Required</th>
                    <th style="text-align: center; vertical-align:middle">Total Price</th>
                    <th style="text-align: center; vertical-align:middle">Action</th>
              </tr>
            </thead>
            <tbody>
                {% set count = namespace(value=1) %}
                {% for cart in carts %}
                <tr>
                    <td style="text-align: center; vertical-align:middle">{{ count.value }}</td>
                    <td style="text-align: center; vertical-align:middle">{{ cart.service.s_name }}</td>
                    <td style="text-align: center; vertical-align:middle">{{ cart.service_provider.p_name }}</td>
                    <td style="text-align: center; vertical-align:middle">&#8377 {{ cart.service.s_rate }}</td>
                    <td style="text-align: center; vertical-align:middle">{{ cart.service.s_time_required }}</td>
                    <td style="text-align: center; vertical-align:middle">&#8377 {{ cart.service.s_rate * cart.service.s_time_required }}</td>
                    <td style="text-align: center; vertical-align:middle">
                        <a href="{{ url_for('main.remove_from_cart', cart_id= cart.cart_id) }}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Remove</a>
                    </td>
                    {% set count.value = count.value + 1 %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: center; vertical-align:middle"><b>Grand Total</b></td>
                    <td style="text-align: center; vertical-align:middle"><strong>&#8377 {{ total }}</strong></td>
                    <td style="text-align: center; vertical-align:middle">
                        <a href="{{ url_for('main.checkout') }}" class="btn btn-outline-success"><i class="bi bi-bag-check-fill"></i> Check Out</a>
                    </td>
                </tr>
        </table>
        {% else %}
        <h1 style="margin-left: 450px;margin-top:250px; margin-bottom:100px">No Item in Cart</h1>
        {% endif %}


    </div>
</div>
{% endblock %}
    