{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Summary
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}
    <div class="container" style="height: fit-content;">
        <div class="row">
            <div class="col-md-4">
                <h3>Total Services Taken</h3>
                <h4><b>{{ total_service_requests }}</b></h4>
            </div>
            <div class="col-md-4">
                <h3>Total Services</h3>
                <canvas id="serviceStatusChart" width="400" height="200"></canvas>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

            var ctx = document.getElementById('serviceStatusChart').getContext('2d');
            var serviceStatusChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Requested', 'Assigned', 'Rejected', 'Closed'],
                    datasets: [{
                        label: 'Total Services',
                        data: [ {{ total_requested_services|safe }}, {{ total_assigned_services|safe }}, {{ total_rejected_services|safe }}, {{ total_closed_services|safe }} ],
                        backgroundColor: [
                            '#FF6384', // Red
                            '#36A2EB', // Blue
                            '#FFCE56', // Yellow
                            '#4BC0C0'  // Green
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw;
                                }
                            }
                        }
                    }
                }
            });
        </script>
    </div>
    </div>
{% endblock %}

        