{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Customer Dashboard
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}
<div class="container" style="height: fit-content;">
    <h1 style="margin-bottom: 17px;">Top Recommended Services:</h1>
    <hr>
      <div class="row">
        {% for service in top_services %}
          <div class="col-sm-4">
            <div class="card" style="width:25rem;">
              {% if service.s_image %}
              <a href="{{ url_for('main.professional_list', s_id=service.s_id) }}"><img src="/static/services/{{ service.s_image }}" class="card-img-top" alt="imagecantbeloaded.jpg"></a>
            {% else %}
            <a href="{{ url_for('main.professional_list', s_id=service.s_id) }}"><img src="https://picsum.photos/200?random={{loop.index}}" class="card-img-top" alt="imagecantbeloaded.jpg"></a>
            {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ service.s_name }}</h5>
                <p class="card-text">{{ service.s_description }}</p>
                <p class="card-text">Rate: &#8377 {{ service.s_rate }} per hour</p>
                <p class="card-text">Time Required: {{ service.s_time_required }} hours</p>
                <a href="{{ url_for('main.professional_list', s_id=service.s_id) }}" class="btn btn-outline-success">Check Available Professionals</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
            <div class="row">
                {% for service_category in service_categories %}
                  
                      <h2 style="margin-top: 30px;">{{ service_category.sc_name }}</h2>
                      <hr>
                    {% for service in all_services %}
                      {% if service.s_category_id == service_category.sc_id %}
                        <div class="col-sm-4" style="margin-bottom: 30px;">
                          <div class="card" style="width:25rem;">
                            <img src="https://picsum.photos/200?random={{loop.index}}" class="card-img-top" alt="imagecantbeloaded.jpg">
                            <div class="card-body">
                              <h5 class="card-title">{{ service.s_name }}</h5>
                              <p class="card-text">{{ service.s_description }}</p>
                              <p class="card-text">Rate: &#8377 {{ service.s_rate }} per hour</p>
                              <p class="card-text">Time Required: {{ service.s_time_required }} hours</p>
                              <a href="{{ url_for('main.professional_list', s_id=service.s_id) }}" class="btn btn-outline-success">Check Available Professionals</a>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  
                {% endfor %}
            </div>
      </div>
    </div>
</div>
{% endblock %}