{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Customer Dashboard
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}
<div class="container" style="height: fit-content;">
    <h1>Customer Dashboard</h1>
    <hr>
    <div class="container">
        <div style="height:fit-content">
            <h3 style="margin-bottom: 20px;">Services Provided By Us</h3>
            <div class="row">
            {% for service_category in service_categories %}
            <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <a href="{{ url_for('main.service', s_category_id = service_category.sc_id) }}" style="text-decoration: none;"><img src="https://picsum.photos/200?random={{loop.index}}" class="card-img-top" alt="Image can't be loaded now"></a>
                <div class="card-body">
                  <h5 class="card-title" value="{{ service_category.sc_id }}"><a href="{{ url_for('main.service', s_category_id = service_category.sc_id) }}" style="text-decoration: none;color:black">{{ service_category.sc_name }}</a></h5>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
        <div style="height:fit-content">
            <h3>Service Requests</h3>
            <table class="table table-bordered table-hover">
                <thead class="table-success">
                  <tr>
                        <th  style="text-align: center; vertical-align:middle">Sequence Number</th>
                        <th  style="text-align: center; vertical-align:middle">Service Request Id</th>
                        <th  style="text-align: center; vertical-align:middle">Service Name</th>
                        <th  style="text-align: center; vertical-align:middle">Service Date and Time</th>
                        <th  style="text-align: center; vertical-align:middle">Service Address</th>
                        <th  style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                        <th  style="text-align: center; vertical-align:middle">Service Status</th>
                        <th  style="text-align: center; vertical-align:middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                      
                    {% for service_request in service_requests %}
                    <tr>
                        <td  style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_id }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_service_name }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_date_time }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_address }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_city }}, {{ service_request.sr_pincode }}</td>
                        <td  style="text-align: center; vertical-align:middle">{{ service_request.sr_status }}</td>
                        <td  style="text-align: center; vertical-align:middle">
                            {% if service_request.sr_status == "Assigned" %}
                            <a href="{{ url_for('main.service_completed', sr_id=service_request.sr_id) }}" class="btn btn-outline-success">Completed</a>
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
</div>
{% endblock %}