{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Service Feedback
{% endblock %}

{% block content %}
{% include 'flashmessage.html'   %}
<div class="container" style="height: fit-content;">
    <h1>Feedback For {{ service.s_name }} </h1>
    <div class="w-75" >
    <div style="margin-top: 50px; margin-right:100px; margin-left:420px;"><h1>Service Request Id: {{ service_request.sr_id }}</h1></div>
    <form action="" method="POST">
    <div class="row" style="margin-left: 400px; margin-top:50px">
        <div class="col-md-6">
            <b>Professional Name:</b> <p>{{ service_provider.p_name }}</p>
        </div>
        <div class="col-md-6">
            <b>Professional Email:</b> <p>{{ service_provider.p_email }}</p>
        </div>
        <div class="col-md-6">
            <b>Professional Phone:</b> <p>{{ service_provider.p_contact_number }}</p>
        </div>
        <div class="col-md-6">
            <b>Completion Date and Time:</b> <p>{{ completion_date_time }}</p>
        </div>
        <div class="col-md-6">
            <label for="rating" class="form-label">Rating:</label>
            <input type="range" id="rating" name="service_rating" min="1" max="5" step="1" class="form-range" required oninput="document.getElementById('ratingValue').innerText = this.value" style="background-color: #9e9e9e; border-radius:8px; border:2px">
            <span id="ratingValue">3</span>
        </div>
        <div class="col-md-6">
            <label for="feedback" class="form-label">Feedback:</label>
            <textarea class="form-control" id="feedback" name="service_feedback" rows="3" required></textarea>
        </div>
        <div class="col-md-12" style="margin-left: 200px; margin-right:100px; margin-top:50px">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
        <input type="hidden" name="completion_date_time" value="{{ completion_date_time }}">     
    </form>
    </div>
    </div>
    </div>
</div>
{% endblock %}