<div class="footer mt-auto py-3 bg-light" style="height:150px;">
    <hr style="margin-top: -17px;">
    <div class="container" style="height:fit-content;">
        
        <span class="text-muted">© 2024 HomeHelpr. All rights reserved.</span>
        <span class="text-muted" style="float:inline-end; height:fit-content">
            <b>Contact Us:</b><br>
            <i class="bi bi-telephone-fill"></i> <b>Phone:</b> +91 9876543210<br>
            <i class="bi bi-envelope-fill"></i> <b>Email:</b> <a href="mailto:23f1002155@ds.study.iitm.ac.in" style="text-decoration: none; color:rgb(87, 90, 94)">23f1002155@ds.study.iitm.ac.in</a>
        </span>
    </div>
</div>
