<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div id = "header" name = 'home_header'>
        <a href = '/login'><b>Login</b></a>
        <a href = '/sign-up-customer'><b>Sign Up as Customer</b></a>
        <a href = '/sign-up-serviceprovider'><b>Sign Up as Professional</b></a>

    </div>
    <div id = "main-body" name = 'home_main'>
        <b>This is the main body for description of the services</b>

    </div>
    <div id = "footer" name = 'home_footer'>
        <b>Contact Us:</b><br>
        Phone No:- +91-9876543210<br>
        Email-us :- <a href="mailto:23f1002155@ds.study.iitm.ac.in"><b>23f1002155@ds.study.iitm.ac.in</b></a><br>

    </div>

</body>
</html>