<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="my_header">
    <h2 align="left"><a href="/">HomeHelpr</a></h>
    <div class="my-header-buttons" align="right">
      <button class="my_buttons"><a href="/sign-up-customer">Sign-Up as Customer</a></button>
      <button class="my_buttons"><a href="/sign-up-serviceprovider">Sign-Up as Serviceprovider</a></button>
    </div>
    <div class="my_body">
      <div align="center">
        <form action="" method="post" class="my_forms">
          <div class="my_form_group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username">
          </div>
          <div class="my_form_group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="my_form_group">
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>