{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Profile Page
{% endblock %}
{% block content %}
<b><h1 style="margin-left: 50px;">Hello {{ user.u_name }}</h1></b>
{% include 'flashmessage.html' %}
    <div class="container">
        <form class="row g-3" method="POST" action="">
            {% if user.u_role == 0 %}
            <div class="form-group col-md-6">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" value="{{ user.u_name }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" value="{{ user.u_email }}" disabled>
            </div>
            <div class="form-group">
                <label for="Update Password" class="form-label">Password:</label>
                <a href="{{ url_for('main.update_password') }}" class="btn btn-outline-primary">Update Password</a>
            </div>
            {% endif %}
            {% if user.u_role == 1 %}
            <div class="form-group">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" value="{{ user.u_name }}" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" value="{{ user.u_email }}" disabled>
            </div>
            <div class="form-group">
                <label for="Update Password" class="form-label">Password:</label>
                <a href="{{ url_for('main.update_password') }}" class="btn btn-outline-primary">Update Password</a>
            </div>
            <div class="form-group">
                <label for="address" class="form-label">Address:</label>
                <input type="text" class="form-control" name="inputAddress" value="{{ c_user.c_address }}" required>
            </div>
            <div class="form-group">
                <label for="city" class="form-label">City:</label>
                <input type="text" class="form-control" name="inputCity" value="{{ c_user.c_city }}" required>
            </div>
            <div class="form-group">
                <label for="pincode" class="form-label">Pincode:</label>
                <input type="text" class="form-control" name="inputPincode" value="{{ c_user.c_pincode }}" required>
            </div>
            {% elif user.u_role == 2 %}
            <div class="form-group">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" value="{{ user.u_name }}" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" value="{{ user.u_email }}" disabled>
            </div>
            <div class="form-group">
                <label for="Update Password" class="form-label">Password:</label>
                <a href="{{ url_for('main.update_password') }}" class="btn btn-outline-primary">Update Password</a>
            </div>
            <div class="col-md-6">
                <label for="inputPhone" class="form-label">Phone</label>
                <input type="text" class="form-control" name="inputPhone" value="{{ p_user.p_contact_number }}" required>
              </div>
              <div class="col-6">
                <label for="inputService" class="form-label">Service</label>
                <select id="inputService" class="form-select" name="inputService" disabled>
                  <option value="{{ p_service.s_id }}" selected> {{ p_service.s_name }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="inputExperience" class="form-label">Experience(In Years)</label>
                <input type="text" class="form-control" name="inputExperience" value="{{ p_user.p_experience }}" disabled>
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" name="inputAddress" value="{{ p_user.p_address }}" required>
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" name="inputCity" value="{{ p_user.p_city }}" required>
              </div>
              <div class="col-md-6">
                <label for="inputPincode" class="form-label">Pincode</label>
                <input type="text" class="form-control" name="inputPincode" value="{{ p_user.p_pincode }}" required>
              </div>
                
           
                
            {% endif %}

            <div class="col-md-12" style="margin-left: 550px; margin-right:100px; margin-top:50px; margin-bottom:50px">
                <button type="submit" class="btn btn-outline-success">Update Profile</button>
            </div>
        </form>
    </div>

        
{% endblock %}
