{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Available Professional
{% endblock %}

{% block content %}
{% include 'flashmessage.html'   %}

<div class="container" style="height:550px;">
    <h2 style="margin-left: 50px;">Available Service Professionals For {{ service.s_name }}</h2>
    <div class="col-md-12">
        <div class="group-item">
        <table class="table table-bordered table-hover">
            <thead class="table-success">
              <tr class="table-success">
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Name</th>
                <th style="text-align: center; vertical-align:middle">Rate</th>
                <th style="text-align:center; vertical-align:middle">Time Requried</th>
                <th style="text-align: center; vertical-align:middle">Total Cost</th>
                <th style="text-align: center; vertical-align:middle">Overall Rating</th>
                <th style="text-align: center; vertical-align:middle">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for service_provider in service_providers_and_ratings %}
                <tr>
                    <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                    <td style="text-align: center; vertical-align:middle"><b>{{ service_provider[0].p_name }}</b></td>
                    <td style="text-align: center; vertical-align:middle">&#8377 {{ service.s_rate }}</td>
                    <td style="text-align: center; vertical-align:middle"> {{ service.s_time_required }}</td>
                    <td style="text-align: center; vertical-align:middle">&#8377 {{ service.s_rate * service.s_time_required }}</td>
                    <td style="text-align: center; vertical-align:middle">{{ service_provider[1] }}</td>
                    <td  style="text-align: center; vertical-align:middle">
                    {% set in_cart = service_provider[0].p_id in cart_professional_ids %}
                    {% set cart_index = cart_professional_ids.index(service_provider[0].p_id) if in_cart else None %}
                    {% set cart_id = carts[cart_index].cart_id if in_cart else None %}
                    {% set blocked = customer.c_blocked %}
                    
                    {% if in_cart and cart_id is not none %}
                        {% if not blocked %}
                            <a href="{{ url_for('main.remove_from_cart', cart_id=cart_id) }}" class="btn btn-outline-danger">Remove from Cart</a>
                        {% else %}
                            <a href="{{ url_for('main.blocked') }}" class="btn btn-outline-danger">Remove From Cart</a>
                        {% endif %}
                    {% else %}
                        {% if not blocked %}
                            <a href="{{ url_for('main.add_to_cart', p_id=service_provider[0].p_id) }}" class="btn btn-outline-success">Add to Cart</a>
                        {% else %}
                            <a href="{{ url_for('main.blocked') }}" class="btn btn-outline-secondary">Add to Cart</a>
                        {% endif %}
                    {% endif %}
                        
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
</div>
</div>
{% endblock %}