{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}

{% block name %}
    Service Provider Dashboard
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}

<div class="container" style="height: fit-content;">
    <h1>Professional Dashboard</h1><br><br><br>          
    <h3>Service Requests</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Request Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                <th style="text-align: center; vertical-align:middle">Service Status</th>
                <th style="text-align: center; vertical-align:middle">Action</th>
            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=1) %}
            {% for service_request in service_requests %}
            <tr>
                {% if service_request.sr_status != "Closed" and service_request.sr_status != "Rejected" %}
                <td style="text-align: center; vertical-align:middle">{{ count.value }}</td>
                <td style="text-align: center; vertical-align:middle">{{ service_request.sr_id }}</td>
                <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_name }}</td>
                <td style="text-align: center; vertical-align:middle">{{ service_request.sr_date_time }}</td>
                <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_city }}, {{ service_request.customer.c_pincode }}</td>
                <td style="text-align: center; vertical-align:middle">{{ service_request.sr_status }}</td>
                <td style="text-align: center; vertical-align:middle">
                    {% if service_request.p_blocked == True %}
                        {% if service_request.sr_status == "Requested" %}
                            <a href="{{ url_for('main.accept_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-success"><i class="bi bi-check-lg"></i> Accept</a>
                            <a href="{{ url_for('main.reject_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i> Reject</a>
                        {% elif service_request.sr_status == "Assigned" %}
                            <a href="{{ url_for('main.reject_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i> Reject</a>
                        {% endif %}
                    {% else %}
                        {% if service_request.sr_status == "Requested" %}
                            <a href="{{ url_for('main.accept_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-success"><i class="bi bi-check-lg"></i> Accept</a>
                            <a href="{{ url_for('main.reject_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i> Reject</a>
                        {% elif service_request.sr_status == "Assigned" %}
                            <a href="{{ url_for('main.reject_request', sr_id=service_request.sr_id) }}" class="btn btn-outline-danger"><i class="bi bi-x-Ig"></i> Reject</a>
                        {% endif %}
                    {% endif %}
                    
                </td>
                {% set count.value = count.value + 1 %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Closed Services</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                <th style="text-align: center; vertical-align:middle">Service Feedback</th>
                <th style="text-align: center; vertical-align:middle">Service Rating</th>
            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=1) %}
            {% for service_request in service_requests %}
            <tr>
            {% if service_request.sr_status == "Closed" %}
            <td style="text-align: center; vertical-align:middle">{{ count.value }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_id }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_name }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_date_time }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_city }}, {{ service_request.customer.c_pincode }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_feedbacks[j].sf_feedback }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_feedbacks[j].sf_rating }}</td>
            {% set count.value = count.value + 1 %}
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Reject Services</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>

            </tr>
        </thead>
        <tbody>
            {% set count = namespace(value=1) %}
            {% for service_request in service_requests %}
            <tr>
            {% if service_request.sr_status == "Rejected" %}
            <td style="text-align: center; vertical-align:middle">{{ count.value }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_id }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_name }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.sr_date_time }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_request.customer.c_city }}, {{ service_request.customer.c_pincode }}</td>
            {% set count.value = count.value + 1 %}
            {% endif %}
            
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}