{% if user_role == 0 %}
    {% extends 'admin_layout.html' %}
{% elif user_role == 1 %}
    {% extends 'customer_layout.html' %}
{% else %}
    {% extends 'service_provider_layout.html' %}
{% endif %}
{% block name %}
    Service Provider Profile
{% endblock %}
{% block content %}
{% include 'flashmessage.html'   %}
<div class="container" style="height: fit-content;">
    <h1 class="text-center my-4" style="margin-left: -457px;">Professional Profile</h1>
    <div class="row">
        <div class="col-md-6 mb-3">
            <h3>Name:</h3>
            <p>{{ provider.p_fname + " " + provider.p_lname  }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Email:</h3>
            <p><a href="mailto:{{ provider.p_email }}" style="text-decoration: none; color:black"> {{ provider.p_email }}</a></p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Phone:</h3>
            <p>{{ provider.p_contact_number }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Address:</h3>
            <p>{{ provider.p_address }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>City:</h3>
            <p>{{ provider.p_city }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Pincode:</h3>
            <p>{{ provider.p_pincode }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Service Id:</h3>
            <p>{{ provider.p_service_id }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Service Name:</h3>
            <p>{{ service.s_name }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Experience:</h3>
            <p>{{ provider.p_experience }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3>Overall Rating:</h3>
            <p>{{ service_feedback_avg.overall_rating }}</p>
        </div>
        </div>
        {% if service_feedbacks %}
            <div class="col-md-12 mb-3">
                <h2>Service Feedbacks:</h2>
                <hr style="border-top: 3px solid;">
            </div>
        {% else %}
            <div class="col-md-12 mb-3">
                <h2>No Feedbacks Yet</h2>
            </div>
        {% endif %}
                {% for service_feedback in service_feedbacks %}
                {% if service_feedback.sf_rating %}
                <h2 style="margin-bottom: 20px;">Service Request Id: # {{ service_feedback.sf_service_request_id }}</h2>
                <div class="row">
                    <div class="group-item d-flex justify-content-between">
                        <div class="col-md-6 mb-3">
                            <h3>Customer Name:</h3>
                            <p>{{ service_feedback.service_request.sr_customer_name }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <h3>Service Date and Time:</h3>
                            <p>{{ service_feedback.service_request.sr_date_time.strftime('%d %B %Y %I:%M %p') }}</p>
                        </div>
                    </div>
                    <div class="group-item d-flex justify-content-between">
                        <div class="col-md-6 mb-3">
                            <h3>Rating:</h3>
                            <p>{{ service_feedback.sf_rating }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <h3>Review:</h3>
                            <p>{{ service_feedback.sf_feedback }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}

    </div>
</div>

{% endblock %}