{% extends 'layout2.html' %}
{% block name %}
    Service Provider Dashboard
{% endblock %}
{% block content %}
{% include 'flashmessage.html' %}

<div class="container" style="height: fit-content;">
    <h1>Professional Dashboard</h1><br><br><br>          
    <h3>Service Requests</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Request Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                <th style="text-align: center; vertical-align:middle">Service Status</th>
                <th style="text-align: center; vertical-align:middle">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(temp_table|length) %}
            <tr>
                {% if temp_table[i].sr_status != "Closed" and temp_table[i].sr_status != "Rejected" %}
                <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
                <td style="text-align: center; vertical-align:middle">{{ temp_table[i].sr_id }}</td>
                <td style="text-align: center; vertical-align:middle">{{ temp_table[i].c_name }}</td>
                <td style="text-align: center; vertical-align:middle">{{ temp_table[i].sr_date_time }}</td>
                <td style="text-align: center; vertical-align:middle">{{ temp_table[i].c_city }}, {{ temp_table[i].c_pincode }}</td>
                <td style="text-align: center; vertical-align:middle">{{ temp_table[i].sr_status }}</td>
                <td style="text-align: center; vertical-align:middle">
                    {% if temp_table[i].p_blocked == True %}
                    <a href="{{ url_for('main.blocked') }}" class="btn btn-outline-secondary" >Accept</a>
                    <a href="{{ url_for('main.blocked') }}" class="btn btn-outline-secondary" >Reject</a>
                    {% else %}
                    <a href="{{ url_for('main.accept_request', sr_id=temp_table[i].sr_id) }}" class="btn btn-outline-success">Accept</a>
                    <a href="{{ url_for('main.reject_request', sr_id=temp_table[i].sr_id) }}" class="btn btn-outline-danger">Reject</a>
                    {% endif %}
                    
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Closed Services</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>
                <th style="text-align: center; vertical-align:middle">Service Feedback</th>
                <th style="text-align: center; vertical-align:middle">Service Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for j in range(temp_table|length) %}
            <tr>
            {% if temp_table[j].sr_status == "Closed" %}
            <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].sr_id }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].c_name }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].sr_date_time }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].c_city }}, {{ temp_table[j].c_pincode }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_feedbacks[j].sf_feedback }}</td>
            <td style="text-align: center; vertical-align:middle">{{ service_feedbacks[j].sf_rating }}</td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Reject Services</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-success">
          <tr>
                <th style="text-align: center; vertical-align:middle">Sequence Number</th>
                <th style="text-align: center; vertical-align:middle">Service Request Id</th>
                <th style="text-align: center; vertical-align:middle">Customer Name</th>
                <th style="text-align: center; vertical-align:middle">Service Date and Time</th>
                <th style="text-align: center; vertical-align:middle">Service City, Pincode</th>

            </tr>
        </thead>
        <tbody>
            {% for j in range(temp_table|length) %}
            <tr>
            {% if temp_table[j].sr_status == "Rejected" %}
            <td style="text-align: center; vertical-align:middle">{{ loop.index }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].sr_id }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].c_name }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].sr_date_time }}</td>
            <td style="text-align: center; vertical-align:middle">{{ temp_table[j].c_city }}, {{ temp_table[j].c_pincode }}</td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}