{% extends 'layout.html' %}

{% block name %}

    {{ service_category.sc_name }}

{% endblock %}

{% block content %}

  {% include 'flashmessage.html'   %}
    <div class="container" style="height:fit-content">
        <h1>{{ service_category.sc_name }}</h1>
        <div class="row">
        {% for service in services %}
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/200?random={{loop.index}}" class="card-img-top" alt="imagecantbeloaded.jpg">
                <div class="card-body">
                    <h5 class="card-title">{{ service.s_name }}</h5>
                    <p class="card-text">{{ service.s_description }}</p>
                    <p class="card-text">Rate: &#8377 {{ service.s_rate }} per hour</p>
                    <p class="card-text">Time Required: {{ service.s_time_required }} hours</p>
                    <a href="{{ url_for('main.service_request', s_id=service.s_id) }}" class="btn btn-outline-success">Request Service</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

