{% extends 'layout.html' %}

{% block name %}
    Sign Up for Professional
{% endblock %}

{% block content %}
<div class="container" style="height:fit-content">

  <div class="w-75" style="margin: 200px;">
    <div ><h1>Sign Up as Professional</h1></div>
    {% include 'flashmessage.html'   %}
    <form class="row g-3" method="POST" enctype="multipart/form-data" action="">
      <div class="col-md-6">
        <label for="inputName" class="form-label">UserName</label>
        <input type="text" class="form-control" name = "inputName" required>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" name="inputEmail4" required>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" name="inputPassword4" required>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">ConfirmPassword</label>
        <input type="password" class="form-control" name="inputConfirmPassword4" required>
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" name="inputPhone" required>
      </div>
      <div class="col-6">
        <label for="inputService" class="form-label">Service</label>
        <select id="inputService" class="form-select" name="inputService" required>
          <option selected>Choose...</option>
          {% for service in services %}
            <option value="{{ service.s_id }}"> {{ service.s_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputExperience" class="form-label">Experience(In Years)</label>
        <input type="text" class="form-control" name="inputExperience" required>
      </div>
      <div class="col-md-6">
        <label for="inputVerificationDocument" class="form-label">Verification Document</label>
        <input type="file" class="form-control" name="inputVerificationDocument" required>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <textarea class="form-control" name="inputAddress" placeholder="1234 Main St" required></textarea>
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" name="inputCity" required>
      </div>
      <div class="col-md-6">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" name="inputZip" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-outline-success">Sign in</button>
      </div>
    </form>
  </div>


</div>
{% endblock %}