<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <a href="/"><b>HomeHelpr</b></a>

  </div>
  <div id = "header" name = 'home_header'>
        <a href = '/login'><b>Login</b></a>
        <a href = '/sign-up-serviceprovider'><b>Sign Up as Professional</b></a>
  </div>
  <div align="center">
    <div id = "main-body" name = 'home_main'>
        <div ><b>Login to HomeHelpr</b></div>
      <form method = "POST", id = "signup-form-customer">
        <div>
          <label style="width: 25%">Email-ID: </label>
          <input type="text" name = "u_email" placeholder="abc@example.com"  required/><br>
        </div>
        <div>
          <label style="width: 25%">Name: </label>
          <input type="text" name = "u_name" placeholder = "ABC"  required/><br>
        </div>
        <div>
          <label style="width: 25%">Password: </label>
          <input type="password" name="u_password" placeholder = "Enter your password" required/><br>
        </div>
        <div>
          <label style="width: 25%">Address: </label>
          <input type="text" name = "u_address"  required/><br>
        </div>
        <div>
          <label style="width: 25%">Pincode: </label>
          <input type="text" name = "u_pincode" required/><br>
        </div>
        <div>
          <input type="submit" name = "signup-cust" value = "Register" />
        </div>
      </form>


    </div>
  </div>
</body>
</html>